{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-download fade page page_{%=file.page %}" data-page="{%=file.page %}">
    <td>
         <span class="preview">
             {% if (file.thumbnailUrl) { %}

             {% if (file.type == 'mp4') { %}

             <video src="{%=file.url%}" controls="" poster=""></video>

             {% } else if(file.type == 'mp3' || file.type == 'm4a') { %}

                        <audio width="250px" id="player_audio" controls="">
                            <source id="player_audio_mp3" src="{%=file.url%}" type="audio/mpeg">
                        </audio>

             {% } else { %}

                     <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.hasSlider?'data-gallery':''%} >
                         <img src="{%=file.thumbnailUrl%}">
             </a>

             {% } %}

             {% } %}
            </span>

    </td>
    <td>
        <p class="name">
            {% if (file.url) { %}
            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.hasSlider?'data-gallery':''%}>{%=
            file.name%}</a>
            {% } else { %}
            <span>{%=file.name%}</span>
            {% } %}
        </p>
        {% if (file.error) { %}
        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
        {% } %}
    </td>
    <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td>
        {% if (file.deleteUrl) { %}
        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}"
                data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %}
                data-xhr-fields='{"withCredentials":true}'{% } %}>
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
        </button>
        <input type="checkbox" name="delete" value="1" class="toggle">
        {% } else { %}
        <button class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
        </button>
        {% } %}
    </td>
</tr>
{% } %}